@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  overflow: hidden;
  font-family: 'Times New Roman', serif; /* Luxurious serif font */
}

canvas {
  touch-action: none;
}
